<div class="background" flex layout="row" layout-align="center start">
	<resp-sides></resp-sides>
	<md-card flex>
		<md-card-header class="card-header" layout="row" layout-align="start center">
			<md-card-avatar class="md-whiteframe-1dp" layout="row" layout-align="center center">
				<img ng-src="{{vm.test.icon}}"/>
			</md-card-avatar>
			<span class="md-headline">{{vm.test.name}}</span>
		</md-card-header>
		<md-card-content flex layout="column" layout-align="center start">
			<md-content class="thin-scroll">
				<md-subheader>{{vm.test.longDesc ? 'Описание' : 'Инструкция'}}</md-subheader>
				<p ng-bind="vm.test.longDesc ? vm.test.longDesc : vm.test.instruction"></p>

				<div ng-if="vm.test.longDesc">
					<md-subheader>Инструкция</md-subheader>
					<p ng-bind="vm.test.instruction"></p>
				</div>
			</md-content>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button class="md-primary" ng-click="vm.$location.path('/test/' + vm.test._id)">
				Начать
			</md-button>
		</md-card-actions>
	</md-card>
	<resp-sides></resp-sides>
</div>
