<div>
	<!--<profession-choice ng-if="vm.test.type === vm.testTypes.SYSTEM_PROF_CHOICE" test-id="{{vm.test._id}}"-->
	<!--data="vm.test.content"></profession-choice>-->

	<!--<professional-readiness ng-if="vm.test.type === vm.testTypes.PROF_READINESS" test-id="{{vm.test._id}}"-->
	<!--data="vm.test.content"></professional-readiness>-->

	<!--<psychogeometrical ng-if="vm.test.type === vm.testTypes.PSYCHOGEOMETRICAL" test-id="{{vm.test._id}}"-->
	<!--data="vm.test.content"></psychogeometrical>-->

	<!--<teenage-kettel ng-if="vm.test.type === vm.testTypes.TEENAGE_KETTEL" test-id="{{vm.test._id}}"-->
	<!--data="vm.test.content"></teenage-kettel>-->

	<thinking-creativity ng-if="vm.test.type === vm.testTypes.THINKING_CREATIVITY" test-id="{{vm.test._id}}"
						 data="vm.test.content"></thinking-creativity>
</div>
