<div layout="column" class="background full-screen">
    <test-progress class="md-whiteframe-1dp" progress="vm.progress"
				   ng-if="vm.progress.questionsCount !== 0 && vm.progress.currentQuestionIndex !== vm.progress.questionsCount">
	</test-progress>
    <div layout="row">
        <resp-sides></resp-sides>
        <div flex>
            <profession-choice ng-if="vm.test.type === vm.testTypes.SYSTEM_PROF_CHOICE" test-id="{{vm.test._id}}"
                               data="vm.test.content" index="vm.progress"></profession-choice>

            <professional-readiness ng-if="vm.test.type === vm.testTypes.PROF_READINESS" test-id="{{vm.test._id}}"
                                    data="vm.test.content" index="vm.progress"></professional-readiness>

            <psychogeometrical ng-if="vm.test.type === vm.testTypes.PSYCHOGEOMETRICAL" test-id="{{vm.test._id}}"
                               data="vm.test.content"></psychogeometrical>

            <teenage-kettel ng-if="vm.test.type === vm.testTypes.TEENAGE_KETTEL" test-id="{{vm.test._id}}"
                            data="vm.test.content" index="vm.progress"></teenage-kettel>

            <thinking-creativity ng-if="vm.test.type === vm.testTypes.THINKING_CREATIVITY" test-id="{{vm.test._id}}"
                                 data="vm.test.content" index="vm.progress"></thinking-creativity>
        </div>
        <resp-sides></resp-sides>
    </div>
</div>
