$figureWidth: 19%;
$figureHeight: 100%;

.card-header {
  background-color: #8bc435;
  color: rgba(255, 255, 255, .87);

  md-card-avatar {
    border-radius: 50%;
    background-color: #fff;

    img {
      border-radius: 50%;
    }
  }
}

.card-content {
  md-radio-button, md-checkbox {
	margin-left: 20px;
  }

  .figure {
	width: $figureWidth;
	height: $figureHeight;

    //& div {
    //  transition: all 2.2s ease-in-out;
    //}
  }

  .figures-label-wrap {
    width: $figureWidth;

    .figures-label {
      text-align: center;
      display: block;
      width: 100%;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 500;
    }
  }
}

.result-content {
  .md-avatar {
    border-radius: unset;
    height: unset;
  }

  .md-avatar-background {
    margin: 12px 8px 8px 16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.dragged div {
  transform: scale(0.8);
  opacity: .4;
  transition: transform 0.2s ease-in-out;
}

.dragover {
  border: 2px dashed #000;
}

.result-list-item {
  padding-bottom: 10px !important;
}
