.card-header {
  background-color: #8bc435;
  color: rgba(255, 255, 255, .87);

  md-card-avatar {
    border-radius: 50%;
    background-color: #fff;

    img {
      border-radius: 50%;
    }
  }
}

