footer.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $background-dark;
  font-size: 14px;
  color: rgba(0, 0, 0, .38);
  padding: 8px 0;
  border-top: 1px solid #E5E5E5;
  transition: bottom 0.15s ease;

  &.hidden {
	bottom: -38px;
  }

  span {
	font-weight: 500;
  }
}
