/**
 * App-wide Styles
 */

$background-dark: #F5F5F5;
$background-light: #FAFAFA;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
	max-width: 730px;
  }
}

.test-card-image {
	width: 30%;
}

.text-wrap {
  padding: unset;

  md-content {
	padding: 0 16px;
  }
}

.thin-scroll::-webkit-scrollbar {
  height: 12px;
  width: 4px;
  background: transparent;
  overflow: visible;
}
.thin-scroll::-webkit-scrollbar-corner {
  display: none;
  background: #f5f5f5;
}
.thin-scroll::-webkit-scrollbar-button {
  display: none;
  height:0;
  width: 0;
}
.thin-scroll::-webkit-scrollbar-button:start:decrement, .thin-scroll::-webkit-scrollbar-button:end:increment {
  display: block;
}

.thin-scroll::-webkit-scrollbar-button:vertical:start:increment, .thin-scroll::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.thin-scroll::-webkit-scrollbar-track {
  -moz-background-clip: border;
  -webkit-background-clip: border;
  background-clip: padding-box;
}
.thin-scroll::-webkit-scrollbar-track:vertical, .thin-scroll::-webkit-scrollbar-track:horizontal {
  border-left-width: 0;
  border-right-width: 0;
}
.thin-scroll::-webkit-scrollbar-track:vertical, .thin-scroll::-webkit-scrollbar-track:horizontal,
.thin-scroll::-webkit-scrollbar-thumb:vertical, .thin-scroll::-webkit-scrollbar-thumb:horizontal {
  border: solid transparent;
}
.thin-scroll::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
  background-clip: padding-box;
  background-color: rgba(0,0,0,.2);
  min-height: 28px;
  padding-top: 100px;
}
.thin-scroll::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
  background-color: rgba(0,0,0,.4);
}
.thin-scroll::-webkit-scrollbar-thumb:active {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
  background-color: rgba(0,0,0,.5);
}
.thin-scroll::-webkit-scrollbar-thumb:vertical, .thin-scroll::-webkit-scrollbar-thumb:horizontal {
  border-width: 0;
}

// Component styles are injected through grunt
// injector
@import 'account/account';
@import 'admin/admin';
@import 'main/main';
@import 'test/test';
@import '../components/footer/footer';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
@import '../components/test-progress/test-progress';
// endinjector

.groupX {
  font-size: 16px;
  margin: 20px 0;
  padding: 3px 15px 3px 15px;
  text-transform: none;
  font-weight: 400;
  min-width:100px;
}
.groupX.md-button.left {
  border-radius: 10px 0 0 10px;
}
.groupX.md-button.middle {
  border-radius: 0;
  border-left: 2px solid #1A237E;
  border-right: 2px solid #1A237E;
}
.groupX.md-button.right {
  border-radius: 0 10px 10px 0;
}
.groupX.md-button:not([disabled]):hover {
  background-color: #E8EAF6 !important;
  color: #283593;
  transition: 0.3s;
}

.absolute-messages {
  position: absolute !important;
  margin-top: 28px;
}

.link {
  color: rgba(65, 131, 196, .87);
  text-decoration: none;

  &.small { font-size: 12px; }
  &.medium { font-size: 14px; }
}

.link:hover {
  text-decoration: underline;
}

.icon-button {
  width: 36px;
  min-width: 0 !important;
}

.background {
  background-color: $background-dark;
}
