<md-card>
	<md-card-title>
		<span class="md-headline" ng-bind="vm.getCurrentQuestion()"></span>
	</md-card-title>
	<md-card-actions layout="row" layout-align="end center">
		<md-button class="md-primary md-icon-button" ng-click="vm.answer(true)"  aria-label="answer-true">
			<i class="mdi mdi-check mdi-24px"></i>
			<md-tooltip md-direction="top">Да</md-tooltip>
		</md-button>
		<md-button class="md-accent md-icon-button" ng-click="vm.answer(false)"  aria-label="answer-false">
			<i class="mdi mdi-close mdi-24px"></i>
			<md-tooltip md-direction="top">Нет</md-tooltip>
		</md-button>
	</md-card-actions>
</md-card>
