.info-card {
  background-color: #FAFAFA;
  transition: all 0.3s ease-in-out;
  padding-bottom: 8px;

  &.editing {
	background-color: #FFF;
  }

  .md-title {
	font-weight: 500;
	font-size: 20px;
  }

  .md-icon-button {
	margin: 0;
	padding: 0;
  }

  md-card-avatar {
	margin: 0 !important;
  }

  md-card-header {
	padding-bottom: 0;
  }

  md-card-content {
	margin-left: 10px;
	padding-top: 0;

	.md-subhead {
	  font-weight: 500;
	  font-size: 14px;
	  margin-top: 16px;
	  color: rgba(0, 0, 0, .54);
	}

	.list-item {
	  margin-top: 16px;

	  .secondary {
		font-weight: 400;
		font-size: 14px;
		color: rgba(0, 0, 0, .54);
	  }
	}
  }
}
