<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>ProfTest</span>
        </h2>
        <span flex></span>

        <div ng-if="isLoggedIn()" layout="row" layout-align="end center">
            <a layout="row" layout-align="center center" ng-href="/users/{{getCurrentUser()._id}}">
                <img class="avatar" ng-if="getCurrentUser().avatar" alt="{{getCurrentUser().firstName}}"
                     ng-src="/avatars/{{getCurrentUser().avatar}}"
                     ng-class="{admin: isAdmin()}">
                <i class="mdi mdi-account-circle mdi-36" ng-if="!getCurrentUser().avatar"></i>
                <h6 class="nickname" ng-class="{admin: isAdmin()}">{{getCurrentUser().firstName}}</h6>
            </a>
            <a ng-if="isAdmin()" class="admin-panel" href="/admin" hide>
                <md-tooltip>Админпанель</md-tooltip>
                <i class="mdi mdi-account-star mdi-24"></i>
            </a>
            <a class="md-mini logout-button" href="/logout" aria-label="logout-btn">
                <md-tooltip>Выйти</md-tooltip>
                <i class="mdi mdi-exit-to-app mdi-24"></i>
            </a>
        </div>
    </div>
</md-toolbar>
