<md-card>
	<md-card-title ng-style="{'background-color': vm.index.currentCategoryIndex ? '#FFC400' : '#00E676',
							  'color': 'rgba(255, 255, 255, 0.87)'}">
		<span class="md-headline"
			  ng-bind="vm.getCurrentCategory().name"></span>
	</md-card-title>
	<md-divider></md-divider>
	<md-card-content class="card-content">
		<div ng-repeat="(key, value) in vm.getCurrentQuestion()">
			<md-checkbox ng-model="vm.answersBlock[key]" aria-label="answer{{key}}">{{value}}</md-checkbox>
		</div>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
		<icon-button ng-click="vm.answer(vm.getAnswers())" ng-disabled="!vm.getAnswers().length" class-list="md-primary"
					 icon="mdi-forward" tooltip="Далее" class-size="mdi-36px" tooltip-direction="top"></icon-button>
	</md-card-actions>
</md-card>
