.signup-page {
  background-color: $background-dark;
}

.signup-form {
  margin-top: 24px;
  margin-bottom: 24px;
}

.form-datepicker {
  margin-top: 15px;
  margin-right: 8px;
}

.form-gender {
  min-width: 128px;
}

