<md-card>
	<md-card-title>
		<span class="md-headline" ng-bind="vm.getCurrentStatement()"></span>
	</md-card-title>
	<md-divider></md-divider>
	<md-card-content class="card-content">
		<div ng-repeat="question in vm.data.questions">
			<h4 ng-bind="question.name"></h4>
			<md-radio-group ng-model="vm.currentAnswer[question.type]" ng-init="vm.currentAnswer[question.type] = 2">
				<md-radio-button ng-repeat="value in question.variants"
								 ng-value="question.variants.length - $index - 1" aria-label="answer{{value}}">
					{{value}}
				</md-radio-button>
			</md-radio-group>
		</div>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
		<icon-button ng-click="vm.answer(vm.currentAnswer)" class-list="md-primary"
					 icon="mdi-forward" tooltip="Далее" class-size="mdi-36px" tooltip-direction="top"></icon-button>
	</md-card-actions>
</md-card>
