<div class="account-page background" layout="row">
	<resp-sides></resp-sides>
	<div flex ng-if="!vm.loaded" layout="row" layout-align="center center">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	<div flex ng-if="!vm.user && vm.loaded" layout="row" layout-align="center center"
		 class="md-headline md-secondary-dark">Пользователь не найден</div>
	<div flex ng-if="vm.user && vm.loaded">
		<md-card layout="column" class="profile-card">
			<div flex class="profile-card-top" layout="column">
				<div flex></div>
				<div layout="row" layout-align="start end">
					<div class="name" ng-if="!vm.editing.name" ng-bind="vm.user.firstName + ' ' + vm.user.lastName"></div>
					<md-input-container ng-if="vm.editing.name" class="fname-input no-margin-bottom">
						<label>Имя</label>
						<input ng-model="vm.info.firstName">
					</md-input-container>
					<md-input-container ng-if="vm.editing.name" class="lname-input no-margin-bottom">
						<label>Фамилия</label>
						<input ng-model="vm.info.lastName">
					</md-input-container>
					<div flex></div>
					<icon-button icon="mdi-pencil md-secondary-lightx" tooltip="Редактировать"
								 ng-if="vm.ownProfile && !vm.editing.name" ng-click="vm.edit('name')"></icon-button>
					<icon-button icon="mdi-content-save md-secondary-lightx" tooltip="Сохранить"
								 ng-if="vm.editing.name" ng-click="vm.save('name')"></icon-button>
					<icon-button icon="mdi-arrow-right-bold md-secondary-lightx" tooltip="Отменить"
								 ng-if="vm.editing.name" ng-click="vm.cancel('name')"></icon-button>
				</div>
			</div>
			<div class="profile-card-bot" layout="row">
				<div class="avatar">
					<img ng-if="vm.user.avatar" class="image" ng-src='/resources/avatars/{{vm.user.avatar}}'>
					<i ng-if="!vm.user.avatar" class="mdi mdi-account-circle icon"></i>
				</div>
				<div class="email" ng-bind="vm.user.email"></div>
			</div>
		</md-card>
		<div layout="row" layout-xs="column">
			<div layout="column" flex-lg="35" flex-md="40" flex-sm="45" flex-xs>
				<info-card name="Общие сведения" icon="mdi-account-box-outline" own-profile="vm.ownProfile"
						   ng-if="vm.user.gender || vm.user.birthDate || vm.editing.general">
					<md-card-content ng-if="!vm.editing.general">
						<div ng-if="vm.user.gender" class="md-subhead">Пол</div>
						<div ng-if="vm.user.gender">
							<i ng-if="vm.user.gender == 'M'" class="mdi mdi-gender-male md-hint-dark"></i>
							<i ng-if="vm.user.gender == 'F'" class="mdi mdi-gender-female md-hint-dark"></i>
							<span>{{vm.user.gender | gender}}</span>
						</div>
						<div ng-if="vm.user.birthDate" class="md-subhead">День рождения</div>
						<div ng-if="vm.user.birthDate">
							<i class="mdi mdi-cake-variant md-hint-dark"></i>
							<span>{{vm.user.birthDate | date: 'dd MMMM yyyy'}} г.</span>
						</div>
					</md-card-content>
					<md-card-content ng-if="vm.editing.general">
						<div class="md-subhead">Пол</div>
						<div layout="row" layout-align="start center">
							<i ng-if="vm.info.gender == 'M'" class="mdi mdi-gender-male md-hint-dark"></i>
							<i ng-if="vm.info.gender == 'F'" class="mdi mdi-gender-female md-hint-dark"></i>
							<md-radio-group ng-model="vm.info.gender" style="margin-left: 8px;">
								<div layout="row" layout-align="center center">
									<md-radio-button style="margin: 0;" value="M" class="md-primary">Мужчина</md-radio-button>
									<md-radio-button style="margin: 0 0 0 10px;" value="F" class="md-accent">Женщина</md-radio-button>
								</div>
							</md-radio-group>
						</div>
						<div class="md-subhead">День рождения</div>
						<div layout="row" layout-align="start center">
							<i class="mdi mdi-cake-variant md-hint-dark"></i>
							<input type="date" ng-model="vm.info.birthDate" class="edit-date" style="margin-left: 8px;">
						</div>
					</md-card-content>
				</info-card>
				<info-card name="Образование" icon="mdi-school" own-profile="vm.ownProfile" can-edit
						   ng-if="(vm.user.education && vm.user.education.length) || vm.editing.education"
						   on-edit="vm.edit('education')" on-save="vm.save('education')" on-cancel="vm.cancel('education')">
					<md-card-content ng-if="!vm.editing.education">
						<div ng-repeat="ed in vm.user.education" class="list-item">
							<div>{{ed.name}}</div>
							<div class="secondary">{{ed.speciality}}<span ng-if="ed.speciality && (ed.startYear || ed.endYear)">,</span>
								<span ng-if="ed.startYear"><span ng-if="!ed.endYear">с </span>{{ed.startYear}}</span>
								<span ng-if="ed.startYear && ed.endYear">-</span>
								<span ng-if="ed.endYear"><span ng-if="!ed.startYear">по </span>{{ed.endYear}}</span>
							</div>
						</div>
					</md-card-content>
					<md-card-content ng-if="vm.editing.education">
						<div layout="row" layout-align="space-between center" style="margin: 16px 0;">
							<span class="add-info" style="margin-left: 3px;">Учебное заведение</span>
							<icon-button icon="mdi-plus add-info" tooltip="Добавить"
										 ng-click="vm.addEducation()"></icon-button>
						</div>
						<div ng-repeat="ed in vm.info.education" class="list-item">
							<div layout="row">
								<div flex>
									<md-input-container class="md-block no-margin-bottom">
										<label>Название учебного заведения</label>
										<input ng-model="ed.name">
									</md-input-container>
									<md-input-container class="md-block no-margin-bottom no-margin-top">
										<label>Специальность</label>
										<input ng-model="ed.speciality">
									</md-input-container>
									<div layout="row" layout-align="start center">
										<md-input-container class="no-margin-top no-margin-bottom" flex>
											<label>Год начала</label>
											<input type="number" ng-model="ed.startYear" max="{{maxYear}}" min="{{minYear}}" step="1">
										</md-input-container>
										<md-input-container class="no-margin-top no-margin-bottom" flex>
											<label>Год оконч.</label>
											<input type="number" ng-model="ed.endYear" max="{{maxYear}}" min="{{minYear}}" step="1">
										</md-input-container>
									</div>
								</div>
								<icon-button icon="mdi-close-circle-outline md-secondary-dark" tooltip="Убрать"
											 ng-click="vm.removeEducation($index)"></icon-button>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</div>
					</md-card-content>
				</info-card>
				<info-card name="Работа" icon="mdi-wallet-travel" own-profile="vm.ownProfile" can-edit
						   ng-if="(vm.user.work && vm.user.work.length) || vm.editing.work"
						   on-edit="vm.edit('work')" on-save="vm.save('work')" on-cancel="vm.cancel('work')">
					<md-card-content ng-if="!vm.editing.work">
						<div ng-repeat="wo in vm.user.work" class="list-item">
							<div>{{wo.company}}</div>
							<div class="secondary">{{wo.position}}<span ng-if="wo.position && (wo.startDate || wo.endDate)">,</span>
								<span ng-if="wo.startDate"><span ng-if="!wo.endDate">с </span>{{wo.startDate | date: 'MMM yyyy'}}</span>
								<span ng-if="wo.startDate && wo.endDate">-</span>
								<span ng-if="wo.endDate"><span ng-if="!wo.startDate">по </span>{{wo.endDate | date: 'MMM yyyy'}}</span>
							</div>
						</div>
					</md-card-content>
					<md-card-content ng-if="vm.editing.work">
						<div layout="row" layout-align="space-between center" style="margin: 16px 0;">
							<span class="add-info" style="margin-left: 3px;">Компания</span>
							<icon-button icon="mdi-plus add-info" tooltip="Добавить"
										 ng-click="vm.addWork()"></icon-button>
						</div>
						<div ng-repeat="wo in vm.info.work" class="list-item">
							<div layout="row">
								<div flex>
									<md-input-container class="md-block no-margin-bottom">
										<label>Название компании</label>
										<input ng-model="wo.company">
									</md-input-container>
									<md-input-container class="md-block no-margin-bottom no-margin-top">
										<label>Должность</label>
										<input ng-model="wo.position">
									</md-input-container>
									<div layout="row" layout-align="start center">
										<md-input-container class="no-margin-top no-margin-bottom" flex>
											<label>Дата начала</label>
											<input type="date" ng-model="wo.startDate" class="edit-date">
										</md-input-container>
										<md-input-container class="no-margin-top no-margin-bottom" flex>
											<label>Дата оконч.</label>
											<input type="date" ng-model="wo.endDate" class="edit-date">
										</md-input-container>
									</div>
								</div>
								<icon-button icon="mdi-close-circle-outline md-secondary-dark" tooltip="Убрать"
											 ng-click="vm.removeWork($index)"></icon-button>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</div>
					</md-card-content>
				</info-card>
			</div>
			<div class="tests" layout="column" flex>
				<div ng-if="!vm.user.tests.length" class="empty md-headline">
					Здесь будут показываться пройденные тесты
				</div>
				<div ng-if="vm.user.tests.length">
					<div class="md-headline md-secondary-dark passed">
						Пройденные тесты
					</div>
					<md-card ng-repeat="test in vm.user.tests">
						<md-card-title class="test">
							<md-card-title-text layout="row" layout-align="center center">
								<div flex>
									<div class="md-headline name" ng-bind="test.name"></div>
									<div class="md-subhead date" ng-bind="(test.passingDate | date: 'd MMMM y') + ' г.'"></div>
								</div>
								<icon-button icon="mdi-forward md-secondary-dark"
											 tooltip="Посмотреть результат"
											 ng-click="vm.$location.path('/result/' + vm.user._id + '/' + test._id)"></icon-button>
							</md-card-title-text>
						</md-card-title>
					</md-card>
				</div>
			</div>
		</div>
	</div>
	<resp-sides></resp-sides>
</div>
